<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Order Management</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript">
    function logIn() {
        document.main.action="/logIn/";
        document.main.submit();
    }
    function goRegister() {
        document.main.action="/goRegister/";
        document.main.submit();
    }
</script>

<body>
    <nav class="navbar navbar-inverse  noMargin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">OrderManagement</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
            </ul>
        </div>
    </nav>
    <header class="page-header text-center">
        <h1>Order Management System</h1>
    </header>
    <form method="get" name="main">
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">User Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" placeholder="Please input the user name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" placeholder="Please input the password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <button onclick="logIn()" class="btn btn-success">Log in</button>
    		    <button onclick="goRegister()" class="btn btn-primary">Register</button>
		</div>
	    </div>
	</div>
    </div>
    </form>
    
</body>

</html>
