<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Order Management</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
    html,
    body {
        height: 100%;
    }

    aside {
        /*侧边栏,初始位置为-200px，即隐藏效果*/
        /*position: absolute;
                top: 0;
                bottom: 0;
                left: -200px;*/
        float: left;
        /*侧边栏居左，改为right可令侧边栏居右*/
        width: 200px;
        background: #9d9d9d;
        height: 100%;
        /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/

    }

    .noMargin {
        margin-bottom: 0px;
    }

    .profile {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        /*color:#FFFFFF;*/
    }

    .orders {
        position: absolute;
        left: 200px;
    }

    .rcorners3 {
        border-radius: 25px;
        border: 2px solid #8AC007;
        padding: 20px;
        margin: 20px;
    }

    .rightth {
        text-align: right;
    }

    .leftth {
        text-align: left;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse  noMargin" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">OrderManagement</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            </ul>
        </div>
    </nav>
    <aside>
        <ul id="sideul">
            <div class="profile"><span class="glyphicon glyphicon-user"></span> Yutong Li</div>
            <div class="profile"> Role: Cook</div>
        </ul>
    </aside>
    <div class="orders" id="orders">
        <div class="panel panel-primary rcorners3">
            <div class="panel-heading">
                <h3 class="panel-title">#Order 1</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Status:</th>
                            <th>Paid</th>
                            <th class="rightth">Cook:</th>
                            <th class="leftth">Yutong Li</th>
                            <th class="rightth">Delivery Method:</th>
                            <th class="leftth">Here</th>
                            <th class="rightth">Time:</th>
                            <th class="leftth">10/29/2018 12:01:59</th>
                        </tr>
                        <tr>
                            <th>Item</th>
                            <th>Options</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Hamberger</th>
                            <th>no onion</th>
                            <th>$5.99</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
window.onload = function() {
    var place = document.getElementById('orders');
    jsonstr = '{"orders":[{ "number":"10001","status":"paid" , "cook":"", "Delivery_Method":"here", "time":"10/29/2018 12:01:59","items":[{"item":"Hamberger","option":"no onion", "price":"5.99"},{"item":"CheeseBerger","option":"no onion", "price":"6.99"},{"item":"French Fries","option":"no onion", "price":"2.99"}]}]}'
    eval("var jn_info=" + jsonstr);
    for (var i = jn_info["orders"].length - 1; i >= 0; i--) {
        item_info = jn_info["orders"][i]
        htmlstr = '<div class="panel panel-primary rcorners3"><div class="panel-heading"><h3 class="panel-title">#Order '
        htmlstr += item_info.number
        htmlstr += '</h3></div><div class="panel-body"><table class="table table-striped"><thead><tr><th>Status:</th><th>'
        htmlstr += item_info.status
        htmlstr += '</th><th class="rightth">Cook:</th><th class="leftth">'
        htmlstr += item_info.cook
        htmlstr += '</th><th class="rightth">Delivery Method:</th><th class="leftth">'
        htmlstr += item_info.Delivery_Method
        htmlstr += '</th><th class="rightth">Time:</th><th class="leftth">'
        htmlstr += item_info.time
        htmlstr += '</th><th class="rightth">Total_price:</th><th class="leftth">'
        htmlstr += item_info.Total_price
        htmlstr += '</th></tr><tr><th>Item</th><th>Options</th><th>Price</th><th>Number</th></tr></thead><tbody>'
        for (var i = item_info.items.length - 1; i >= 0; i--) {
            htmlstr += '<tr><th>' + item_info.items[i].item + '</th>'
            htmlstr += '<th>' + item_info.items[i].option + '</th>'
            htmlstr += '<th>' + item_info.items[i].price + '</th>'
            htmlstr += '<th>' + item_info.items[i].number + '</th></tr>'
        }
        htmlstr += '</tbody></table></div> </div>'
        place.innerHTML += htmlstr
    }
}

function a {
    //ajax去请求接收json信息
    //js做后期处理
    var xhr = new XMLHttpRequest();
    var url = "/space-uid-" + i + ".html";
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
            //alert(typeof xhr.responseText);//string
            //把接收的字符串json具体变为object的json对象
            var place = document.getElementById('orders');
            jsonstr = '{"orders":[{ "number":"10001","status":"paid" , "cook":"", "Delivery_Method":"here", "time":"10/29/2018 12:01:59","items":[{"item":"Hamberger","option":"no onion", "price":"5.99"},{"item":"CheeseBerger","option":"no onion", "price":"6.99"},{"item":"French Fries","option":"no onion", "price":"2.99"}]}]}'
            eval("var jn_info=" + jsonstr);
            for (var i = jn_info["orders"].length - 1; i >= 0; i--) {
                item_info = jn_info["orders"][i]
                htmlstr = '<div class="panel panel-primary rcorners3"><div class="panel-heading"><h3 class="panel-title">#Order '
                htmlstr += item_info.number
                htmlstr += '</h3></div><div class="panel-body"><table class="table table-striped"><thead><tr><th>Status:</th><th>'
                htmlstr += item_info.status
                htmlstr += '</th><th class="rightth">Cook:</th><th class="leftth">'
                htmlstr += item_info.cook
                htmlstr += '</th><th class="rightth">Delivery Method:</th><th class="leftth">'
                htmlstr += item_info.Delivery_Method
                htmlstr += '</th><th class="rightth">Time:</th><th class="leftth">'
                htmlstr += item_info.time
                htmlstr += '</th><th class="rightth">Total_price:</th><th class="leftth">'
                htmlstr += item_info.Total_price
                htmlstr += '</th></tr><tr><th>Item</th><th>Options</th><th>Price</th><th>Number</th></tr></thead><tbody>'
                for (var i = item_info.items.length - 1; i >= 0; i--) {
                    htmlstr += '<tr><th>' + item_info.items[i].item + '</th>'
                    htmlstr += '<th>' + item_info.items[i].option + '</th>'
                    htmlstr += '<th>' + item_info.items[i].price + '</th>'
                    htmlstr += '<th>' + item_info.items[i].number + '</th></tr>'
                }
                htmlstr += '</tbody></table></div> </div>'
                place.innerHTML += htmlstr

            }
        }
        xhr.open('get', ip+'/'+port);
        xhr.send(null);
    }
}
</script>

</html>
